
.container {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
   
}
h1, h2 {
    color: white;
    margin: 10px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
}
input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}
button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.circle-container {
    text-align: center;
    margin-top: 20px;
}



